/* Your code goes below here */

/*
  Examples of position selectors
*/

p em {
    font-size: 28px;
  }
  
  p strong {
    font-size: 32px;
  }
  
  ul em{
    background-color: darkblue;
    color:yellow;
  }
  
  ul strong{
    background-color:darkred;
    color:white;
  }
  
  /* Your code goes above here */